<md-subheader class="md-primary bottom-border">Data Type</md-subheader>
<md-content class="bottom-border md-padding">
    <div ui-tree="layouts.treeOptions" data-clone-enabled="true" data-nodrop-enabled="true">
        <!-- <div layout="row" layout-wrap ui-tree-nodes data-clone-enabled="true" data-nodrop-enabled="true"
                 ng-model="layouts.layoutsService.elements"> -->
        <ol ui-tree-nodes data-clone-enabled="true" data-nodrop-enabled="true" ng-model="layouts.layoutsService.elements">
            <li ng-repeat="element in layouts.layoutsService.elements" ui-tree-node>
                <div ui-tree-handle class="tree-node tree-node-content">
                    <span>{{element.getLabel()}}</span>
                </div>
            </li>
        </ol>
    </div>
</md-content>


